body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    
}

.header {
    background: #f4f6f8;
    color: white;
    padding: 15px 30px;
    font-size: 22px;
}

.container {
    padding: 30px;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 220px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card a {
    text-decoration: none;
    color: #1e293b;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}